Code/Ming_Speech/.vs
Code/Ming_Speech/Ming_Speech/bin
Code/Ming_Speech/Ming_Speech/obj
Demo/SpeechDemo/Library
Demo/SpeechDemo/.vs
Demo/SpeechDemo/Temp
Demo/SpeechDemo/SpeechDemo.sln
Demo/SpeechDemo/SpeechDemo.CSharp.csproj