Code/MingUnity_VoiceInput/.vs
Code/MingUnity_VoiceInput/MingUnity_VoiceInput/bin
Code/MingUnity_VoiceInput/MingUnity_VoiceInputobj
Demo/VoiceInputDemo/.vs
Demo/VoiceInputDemo/Library
Demo/VoiceInputDemo/Temp
Demo/VoiceInputDemo/VoiceInputDemo.CSharp.csproj
Demo/VoiceInputDemo/VoiceInputDemo.sln