Code/MingUnity_FaceRec/.vs
Code/MingUnity_FaceRec/MingUnity_FaceRec/bin
Code/MingUnity_FaceRec/MingUnity_FaceRec/obj
Demo/FaceRecDemo/Library
Demo/FaceRecDemo/.vs
Demo/FaceRecDemo/Temp
Demo/FaceRecDemo/FaceRecDemo.sln
Demo/FaceRecDemo/FaceRecDemo.CSharp.csproj