Code/MingUnity_WebCamera/.vs
Code/MingUnity_WebCamera/MingUnity_WebCamera/bin
Code/MingUnity_WebCamera/MingUnity_WebCamera/obj
Demo/WebCamDemo/.vs
Demo/WebCamDemo/Library
Demo/WebCamDemo/Temp
Demo/WebCamDemo/WebCamDemo.CSharp.csproj
Demo/WebCamDemo/WebCamDemo.sln