Code/MingUniCamera/.vs
Code/MingUniCamera/MingUniCamera/bin
Code/MingUniCamera/MingUniCamera/obj
Demo/WebCamDemo/.vs
Demo/WebCamDemo/Library
Demo/WebCamDemo/Temp
Demo/WebCamDemo/WebCamDemo.CSharp.csproj
Demo/WebCamDemo/WebCamDemo.sln