Code/Ming_SpeechRec/.vs
Code/Ming_SpeechRec/Ming_SpeechRec/bin
Code/Ming_SpeechRec/Ming_SpeechRec/obj
Demo/SpeechRecDemo/Library
Demo/SpeechRecDemo/.vs
Demo/SpeechRecDemo/Temp
Demo/SpeechRecDemo/SpeechRecDemo.sln
Demo/SpeechRecDemo/SpeechRecDemo.CSharp.csproj