Code/MingUnity_MVVM/.vs
Code/MingUnity_MVVM/MingUnity_MVVM/bin
Code/MingUnity_MVVM/MingUnity_MVVM/obj
Demo/MVVMDemo/Library
Demo/MVVMDemo/.vs
Demo/MVVMDemo/Temp
Demo/MVVMDemo/MVVMDemo.sln
Demo/MVVMDemo/MVVMDemo.CSharp.csproj